body{
    margin: 0;
}
.navbar {
    background-color: #a01414;
    direction: rtl;
    display:flex;
width: 100%;
height: 49px;
}


    .navbar .left{
        width: 300px;
        height: 50px;
        margin-right: 35px;
    }
    .navbar .left a{
        margin-right: 167px;
        font-size: larger;
    }
    .navbar .right{
        width: 300px;
        height: 50px;
    }
    
.search input{
    width: 300px;
    border: 2px solid #040b24;
    border-radius: 25px;
    height: 27px;
}
.search{
    width: 600px;
margin-top: 12px;
text-align: center;
}
.search button{
    width: 50px;
    height: 30px;
    color: white;
    background-color: black;
    border: 2px solid #040b24;

    border-radius: 25px;
}
     #bu{
        display: inline-block;
        padding: 10px 25px;
        width: 250px;
        font-size:24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        height: 50px;
       color: #FFF;
        background-color: #6d6464;
        border:none;
        border-radius: 5px;
        box-shadow: 0 5px #999;
        transition-duration: 0.1s;
    
    }
    #backmode{
        border-radius: 50%;
        width: 36px;
        height: 34px;
        border: #a01414, solid, 3px;
        background-color: white;
        
    }
    
    #changemode{
        margin-left: 6px;
        border-radius: 60%;
        width: 76.5px;
        margin-top: 6px;
        height: 34px;
        background-color: black;
    }
    
    .navbar .right .dropbtn {
    background-color: #040b24;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 75px;
    height: 49px; 
    cursor: pointer;
    margin-right: -61px;
overflow: hidden;
  }
  
  .navbar .right .dropdown {
    position: relative;
    display: inline-block;
    width: 75px;
    margin-right: 64px;
    height: 25px; 
  }
  
  .navbar .right .dropdown-content {
    display: none;
    position: absolute;
    background-color: #040b24;
    width: 75px;
    height: 25px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  
  .navbar .right .dropdown-content a {
    color:#f1f1f1;
    background-color: #110505;
    padding: 12px 16px;
    width: 75px;
    height: 25px; 
    text-decoration: none;
    display: block;
  }
  
  .navbar .right .dropdown-content a:hover {background-color: #c02b2b}
  
  .navbar .right .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar .right .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
}
select{
   width: 90px;
    float: right;
    border-radius: 60px;
    display: block;
    color: white;
    background-color: #040b24;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.card{
   
    width: 100%;
    height: 300px;
   display: flex;
   gap: 3px 2px;
   flex-flow: row wrap;
   justify-content:center;
   margin: 5px 0;
   margin-bottom: 80px;
}
 .card_img:hover img{
    transform: translateY(-20px);
 
}
  .card_img img{
    border-radius: 15px;
    width: 70%;
    height: 40vb;
  vertical-align: middle;
  }
  
  .card .card_text  a{
    text-decoration: none;
  }
  .card .card_text {
    width: 75%;
    height: 20%;
  }
  .card .column{
    flex: 1;
    margin: 2px;
    padding: 5px;

  }
  
  .slider .list .item img {
    width: 100vw;
    height: 85vh;
    object-fit: fill;
}

.slider .list .item {
    width: 95%;
    height: 78vh;
    position: relative;
    inset: 0 0 0 0;
}

.slider {
    overflow: hidden;
    height: 500px;
    width: 98.88vw;
    position: relative;
    z-index: 1px;
}


.slider .list .item .buttons {
    display: contents;

     top: -56%;
    right: -83%;
    position: relative;
    width: 75px;
    height: 32px;
    border: 2px solid #510a0a;
    border-radius: 35px;
    background-color: #000;
}

/* thumbail */
.boxslider {
    position: absolute;
    bottom: 110px;
    left: 2%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.boxslider .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.boxslider .item img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* arrows */
.arrows {
    position: absolute;

    top: 70%;
    right: -2%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

.arrows button:hover {
    background-color: #fff;
    color: #000;
}

/* animation */
.slider .list .item:nth-child(1) {
    z-index: 10;
    position: absolute;
}

/* animation text in first item */
.slider .list .item .buttons a {
    padding: 10px;
       color: white;
     text-decoration: none;
     transform: translateY(50px);
     opacity: 0;
     animation: showContent .5s 1s linear 1 forwards;
    }
.slider .list .item:nth-child(1) .buttons a {

    top: -56%;
    right: -83%;
    position:static;
  font-size: 19px;
    border: 2px solid #510a0a;
    border-radius: 35px;
    background-color: #000;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        opacity: 1;
     top: -56%;
    right: -83%;
    position: relative;
    border: 2px solid #510a0a;
    border-radius: 35px;
    background-color: #000;
    }
}

.slider .list .item:nth-child(1) .buttons {
    display: contents;

    animation-delay: 1.8s !important;
    top: -56%;
    right: -83%;
    position: relative;
    border: 2px solid #510a0a;
    border-radius: 45px;
    background-color: #0000;
}

/* create animation when next click */
.slider.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: relative;
    bottom: 50px;
    left: 50%;
    object-fit: fill;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;

}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 85vh;
        border-radius: 0;
        margin-bottom: -50px;

    }
}

.slider.next .boxslider .item:nth-last-child(1) {
    overflow: hidden;

    animation: showboxslider .5s linear 1 forwards;
}

.slider.prev .list .item img {
    z-index: -40;
}

@keyframes showboxslider {
    from {
        width: 0;
        opacity: 0;
    }
}

.slider.next .boxslider {
    animation: effectNext .5s linear 1 forwards;

}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

/* running time */

.slider .time {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.slider.next .time,
.slider.prev .time {
    animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
    from {
        width: 100%
    }

    to {
        width: 0
    }
}


/* prev click */

.slider.prev .list .item:nth-child(2) {
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .boxslider .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showboxslider .5s linear 1 forwards;
}

.slider.next .arrows button,
.slider.prev .arrows button {
    pointer-events: none;
}

.slider.prev .list .item:nth-child(2)  .buttons {

    animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
