.slider .list .item img{
    width: 95%;
    height: 85vh;
    object-fit:fill;
}
.slider .list .item .content button{

    margin-right: 198px;
    margin-top: 164px;
    position: absolute;
}

.slider .list .item{
    width: 95%;
    height: 85vh;
    position:relative;
    inset: 0 0 0 0;
}
.slider{
    overflow: hidden;
    height: 500px;
    width: 95vw;
    position: relative;
}

.slider .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 30px;
    gap: 5px;
    margin-top: 10px;
    margin-left: 87px;
}
.slider .list .item .buttons button,
.slider .list .item .buttons  a {

    border-radius: 25px;
    background-color:#313131;
    letter-spacing: 3px;

    font-family: Poppins;
    color: #fff;
    font-weight: bold;
}
.slider .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.boxslider{
    position: absolute;
    bottom: 110px;
    left: 40%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.boxslider  .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.boxslider  .item img{
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* arrows */
.arrows{
    position: absolute;
   
    top: 70%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:#000;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.slider .list .item:nth-child(1){
    z-index: 10;
    position: absolute;
}

/* animation text in first item */

.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: relative;
    bottom: 50px;
    left: 50%;
    object-fit: fill;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
    
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 95%;
        height: 85vh;
        border-radius: 0;
        margin-bottom: -50px;
      
    }
}

.slider.next .boxslider  .item:nth-last-child(1){
    overflow: hidden;
    
    animation: showboxslider .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: -40;
}
@keyframes showboxslider{
    from{
        width: 0;
        opacity: 0;
    }
}
.slider.next .boxslider{
    animation: effectNext .5s linear 1 forwards;
    
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.slider .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.slider.next .time,
.slider.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .boxslider  .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showboxslider .5s linear 1 forwards;
}
.slider.next .arrows button,
.slider.prev .arrows button{
    pointer-events: none;
}
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
   
}